<!doctype html>

<!-- 导航栏 -->
<div class="container-fluid bg-white shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-auto mr-lg-auto">
        <nav class="navbar navbar-light">
          <a class="navbar-brand" href="/community">
            <img src="/community/images/community-logo.png" alt="Community">
          </a>
        </nav>
      </div>
      <div class="col-lg-2 align-self-center">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#registerModel">注册</button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#loginModel">登录</button>
      </div>
    </div>
  </div>
</div>

<!-- 注册 -->
<div class="modal fade" id="registerModel" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="registerModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="registerModelLabel">注册</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="p-lg-4">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="registerAccount" placeholder="账号">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="registerName" placeholder="用户名">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="registerPassword" placeholder="密码">
            </div>
            <div id="registerErrorMsg"></div>
            <button type="button" class="btn btn-success btn-block" id="register-button">提交</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 登录 -->
<div class="modal fade" id="loginModel" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="loginModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="loginModelLabel">登录</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="p-lg-4">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="loginAccount" placeholder="账号">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="loginPassword" placeholder="密码">
            </div>
            <div id="loginErrorMsg"></div>
            <button type="button" class="btn btn-success btn-block" id="login-button">提交</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $.initNonLoginedHeader()
</script>