<!doctype html>

<!-- 导航栏 -->
<div class="container-fluid bg-white shadow-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-auto mr-lg-auto">
                <nav class="navbar navbar-light">
                    <a class="navbar-brand" href="/community">
                        <img src="/community/images/community-logo.png" alt="Community">
                    </a>
                </nav>
            </div>
            <div class="col-lg-1 text-center align-self-center">
                <button type="button" class="btn btn-success" onclick="$(location).attr('href', '/community/publish')">发帖</button>
            </div>
            <div class="col-lg-1 align-self-center">
                <div class="dropdown">
                    <a role="button" data-toggle="dropdown" href="javascript:void(0)" id="userDropDown-button">
                        <img id="user-headportrait" width="32" height="32" class='rounded-circle' src='#' alt='头像'>
                    </a>
                    <div id="userDropDown" class="dropdown-menu mt-lg-3">
                        <a class="dropdown-item text-center" id="homepage">个人中心</a>
                        <a class="dropdown-item text-center" href="javascript:void(0)" id="logout">退出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $.initLoginedHeader()
</script>