<!doctype html>

<!-- 导航栏 -->
<div class="container-fluid bg-white shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-auto mr-lg-auto">
        <nav class="navbar navbar-light">
          <a class="navbar-brand" href="/community">
            <span class="text-secondary font-weight-bold">异想社区</span>
          </a>
        </nav>
      </div>
      <div class="col-lg-1 text-center align-self-center">
        <a href="javascript:void(0)">
          <span class="text-black-50" data-toggle="modal" data-target="#loginModel">登录</span>
        </a>
      </div>
      <div class="col-lg-1 text-center align-self-center">
        <a href="javascript:void(0)">
          <span class="text-black-50" data-toggle="modal" data-target="#registerModel">注册</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- 注册 -->
<div class="modal fade" id="registerModel" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="registerModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="registerModelLabel">注册</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="registerAccount" class="col-form-label">账号</label>
            <input type="text" class="form-control" id="registerAccount">
          </div>
          <div class="form-group">
            <label for="registerName" class="col-form-label">用户名</label>
            <input type="text" class="form-control" id="registerName">
          </div>
          <div class="form-group">
            <label for="registerPassword" class="col-form-label">密码</label>
            <input type="password" class="form-control" id="registerPassword">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="register-button">提交</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

<!-- 登录 -->
<div class="modal fade" id="loginModel" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="loginModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="loginModelLabel">登录</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="loginAccount" class="col-form-label">账户</label>
            <input type="text" class="form-control" id="loginAccount">
          </div>
          <div class="form-group">
            <label for="loginPassword" class="col-form-label">密码</label>
            <input type="password" class="form-control" id="loginPassword">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="login-button">提交</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>


<script>
  $.initNonLoginedHeader()
</script>