<!doctype html>

<!-- 导航栏 -->
<div class="container-fluid bg-white shadow-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-auto mr-lg-auto">
                <nav class="navbar navbar-light">
                    <a class="navbar-brand" href="/community">
                        <img src="/community/images/community-logo.png" alt="Community">
                    </a>
                </nav>
            </div>
            <div class="col-lg-1 text-center align-self-center">
                <button type="button" class="btn btn-success" onclick="$(location).attr('href', '/community/publish')">发帖</button>
            </div>
            <div class="col-lg-1 text-center align-self-center">
                <div class="dropdown">
                    <a role="button" data-toggle="dropdown" href="javascript:void(0)" id="userDropDown-button"></a>
                    <div id="userDropDown" class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0)" id="logout">
                            <span class="text-black-50">退出</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $.initLoginedHeader()
</script>