<!DOCTYPE html>
<html lang="zh-CN">

<head>

  <title>Community</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/community/bootstrap-4.6.0/css/bootstrap.css" />
  <link rel="stylesheet" href="/community/bootstrap-4.6.0/css/bootstrap-grid.min.css" />
  <link rel="stylesheet" href="/community/bootstrap-4.6.0/css/bootstrap-reboot.min.css" />
  <link rel="stylesheet" href="/community/css/community.css" />
  <link rel="stylesheet" href="/community/bootstrap-4.6.0/icons-1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/community/css/jquery-confirm.css">

  <script src="/community/js/jquery-3.6.0.js"></script>
  <script src="/community/js/jquery.cookie.js"></script>
  <script src="/community/bootstrap-4.6.0/js/bootstrap.bundle.min.js"></script>
  <script src="/community/bootstrap-4.6.0/js/bootstrap.min.js"></script>
  <script src="/community/js/community.js"></script>
  <script src="/community/js/jquery-confirm.js"></script>

</head>

<body>

  <header id="header"></header>

  error

  <footer id="footer"></footer>

</body>

<script>
</script>

</html>