<!DOCTYPE html>
<html lang="zh-CN">

<head>

  <title>Community</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/community/images/logo.png" type="image/x-icon" />
  <link rel="stylesheet" href="/community/bootstrap-4.6.0/css/bootstrap.css" />
  <link rel="stylesheet" href="/community/bootstrap-4.6.0/css/bootstrap-grid.min.css" />
  <link rel="stylesheet" href="/community/bootstrap-4.6.0/css/bootstrap-reboot.min.css" />
  <link rel="stylesheet" href="/community/css/community.css" />
  <link rel="stylesheet" href="/community/bootstrap-4.6.0/icons-1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/community/css/jquery-confirm.css">

  <script src="/community/js/jquery-3.6.0.js"></script>
  <script src="/community/js/jquery.cookie.js"></script>
  <script src="/community/bootstrap-4.6.0/js/bootstrap.bundle.min.js"></script>
  <script src="/community/bootstrap-4.6.0/js/bootstrap.min.js"></script>
  <script src="/community/js/community.js"></script>
  <script src="/community/js/jquery-confirm.js"></script>

</head>

<body>

  <header id="header"></header>

  <div class="container mt-lg-5">
    <div class="row">
      <div class="col-lg-8">
        <h4>讨论</h4>
      </div>
      <div class="col-lg-4">
        <h6 class="text-secondary">公告 | 暂时没有公告</h6>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- 左侧 -->
      <div class="col-lg-8">
        <!-- 讨论列表 -->
        <div class="row mt-lg-3">
          <div class="col-lg-12">
            <div class="bg-white shadow-sm rounded">
              <div id="topic-list"></div>
              <div class="p-lg-2 mt-lg-3 d-flex justify-content-center">
                <nav>
                  <ul class="pagination pagination-sm" id="topic-pagination"></ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 右侧 -->
      <div class="col-lg-4">
        <div class="row mt-lg-3">
          <div class="col-lg-12">
            <div class="bg-white p-lg-3 shadow-sm rounded">
              <h4>Community 宣言</h4>
              <p>欢迎你加入本社区~</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="footer"></footer>

</body>

<script>
  $.initIndex()
</script>

</html>