<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>点赞消息-异想社区</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/bootstrap-4.6.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/bootstrap-4.6.0/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="static/bootstrap-4.6.0/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="static/css/community.css" />
    <link rel="stylesheet" href="static/bootstrap-4.6.0/icons-1.5.0/font/bootstrap-icons.css">
</head>

<body>

    <header id="header"></header>

    <!-- 主体部分 -->
    <div class="container community-ele-margin-top-45px community-ele-border-solid">
        <div class="row">
            <!-- 左主体 -->
            <div class="col-lg-2 community-ele-color-grey">
                <div class="container-fluid">
                    <div class="row community-ele-color-white">
                        <div class="col-lg-12 community-ele-padding-15px">
                            <ul class="nav flex-column text-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span class="community-text-desc-black community-text-desc-font-size-15px">
                                            评论
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">
                                        <span class="community-text-desc-black community-text-desc-font-size-15px">
                                            点赞
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span class="community-text-desc-black community-text-desc-font-size-15px">
                                            系统通知
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 右主体 -->
            <div class="col-lg-10 community-ele-color-grey">
                <!-- 个人信息 -->
                <div class="community-ele-color-white community-ele-margin-bottom-15px">
                    <div class="container-fluid">
                        <div class="row justify-content-between community-ele-border-solid-bottom">
                            <div class="col-lg-auto community-ele-padding-15px">
                                <span
                                    class="community-text-desc-black community-text-desc-font-size-15px font-weight-bold">
                                    点赞
                                </span>
                            </div>
                            <div class="col-lg-auto community-ele-padding-15px">
                                <span class="community-text-desc-font-size-15px">
                                    <a href="#">
                                        清空所有消息
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 community-ele-padding-15px community-ele-border-solid-bottom">
                                <div class="media">
                                    <img src="static/images/profile.jpg" class="mr-3 rounded-circle community-ele-width-50px community-ele-height-50px">
                                    <div class="media-body">
                                        <div class="mt-lg-0">
                                            <a href="#">
                                                <span class="community-text-desc-black community-text-desc-font-size-15px">yeeq</span>
                                                &nbsp;
                                            </a>
                                            <span class="community-text-desc-grey community-text-desc-font-size-15px">点赞了你的帖子</span>
                                            &nbsp;
                                            <span class="badge badge-danger community-text-desc-font-size-5px">New</span>
                                        </div>
                                        <div class="mt-lg-1">
                                            <a href="#">
                                                <span class="community-text-desc-black community-text-desc-font-size-15px">Spring boot 2.2 打成 war 包 过滤器或者拦截器 注入失败</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 community-ele-padding-15px community-ele-border-solid-bottom">
                                <div class="media">
                                    <img src="static/images/profile.jpg" class="mr-3 rounded-circle community-ele-width-50px community-ele-height-50px">
                                    <div class="media-body">
                                        <div class="mt-lg-0">
                                            <a href="#">
                                                <span class="community-text-desc-black community-text-desc-font-size-15px">yeeq</span>
                                                &nbsp;
                                            </a>
                                            <span class="community-text-desc-grey community-text-desc-font-size-15px">点赞了你的帖子</span>
                                            &nbsp;
                                        </div>
                                        <div class="mt-lg-1">
                                            <a href="#">
                                                <span class="community-text-desc-black community-text-desc-font-size-15px">Spring boot 2.2 打成 war 包 过滤器或者拦截器 注入失败</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 community-ele-padding-15px community-ele-border-solid-bottom">
                                <div class="media">
                                    <img src="static/images/profile.jpg" class="mr-3 rounded-circle community-ele-width-50px community-ele-height-50px">
                                    <div class="media-body">
                                        <div class="mt-lg-0">
                                            <a href="#">
                                                <span class="community-text-desc-black community-text-desc-font-size-15px">yeeq</span>
                                                &nbsp;
                                            </a>
                                            <span class="community-text-desc-grey community-text-desc-font-size-15px">点赞了你的帖子</span>
                                            &nbsp;
                                        </div>
                                        <div class="mt-lg-1">
                                            <a href="#">
                                                <span class="community-text-desc-black community-text-desc-font-size-15px">Spring boot 2.2 打成 war 包 过滤器或者拦截器 注入失败</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 community-ele-padding-15px community-ele-border-solid-bottom">
                                <div class="media">
                                    <img src="static/images/profile.jpg" class="mr-3 rounded-circle community-ele-width-50px community-ele-height-50px">
                                    <div class="media-body">
                                        <div class="mt-lg-0">
                                            <a href="#">
                                                <span class="community-text-desc-black community-text-desc-font-size-15px">yeeq</span>
                                                &nbsp;
                                            </a>
                                            <span class="community-text-desc-grey community-text-desc-font-size-15px">点赞了你的帖子</span>
                                            &nbsp;
                                        </div>
                                        <div class="mt-lg-1">
                                            <a href="#">
                                                <span class="community-text-desc-black community-text-desc-font-size-15px">Spring boot 2.2 打成 war 包 过滤器或者拦截器 注入失败</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 community-ele-padding-15px community-ele-border-solid-bottom">
                                <div class="media">
                                    <img src="static/images/profile.jpg" class="mr-3 rounded-circle community-ele-width-50px community-ele-height-50px">
                                    <div class="media-body">
                                        <div class="mt-lg-0">
                                            <a href="#">
                                                <span class="community-text-desc-black community-text-desc-font-size-15px">yeeq</span>
                                                &nbsp;
                                            </a>
                                            <span class="community-text-desc-grey community-text-desc-font-size-15px">点赞了你的帖子</span>
                                            &nbsp;
                                        </div>
                                        <div class="mt-lg-1">
                                            <a href="#">
                                                <span class="community-text-desc-black community-text-desc-font-size-15px">Spring boot 2.2 打成 war 包 过滤器或者拦截器 注入失败</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<footer id="footer"></footer>

<script src="static/js/jquery-3.6.0.js"></script>
<script src="static/bootstrap-4.6.0/js/bootstrap.min.js"></script>
<script src="static/js/editormd.min.js"></script>
<script src="static/js/community.js"></script>

<script>
  $.init()
</script>

</html>