<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yeexang.community.dao.DictDao">

    <sql id="y_c_dict">
        d.id,
        d.dict_id,
        d.label,
        d.value,
        d.type,
        d.description,
        d.sort_flag,
        d.create_time,
        d.create_user,
        d.update_time,
        d.update_user,
        d.del_flag
    </sql>

    <sql id="Dict">
        #{id},
        #{dictId},
        #{label},
        #{value},
        #{type},
        #{description},
        #{sortFlag},
        #{createTime},
        #{createUser},
        #{updateTime},
        #{updateUser},
        #{delFlag}
    </sql>

    <sql id="where_condition">
        <if test="id != null and id != ''">
            AND d.id = #{id}
        </if>
        <if test="dictId != null and dictId != ''">
            AND d.dict_id = #{dictId}
        </if>
        <if test="label != null and label != ''">
            AND d.label = #{label}
        </if>
        <if test="value != null and value != ''">
            AND d.value = #{value}
        </if>
        <if test="type != null and type != ''">
            AND d.type = #{type}
        </if>
        <if test="description != null and description != ''">
            AND d.description = #{description}
        </if>
        <if test="sortFlag != null and sortFlag != ''">
            AND d.sort_flag = #{sortFlag}
        </if>
        <if test="createTime != null">
            AND u.create_time = #{createTime}
        </if>
        <if test="createUser != null and createUser != ''">
            AND u.create_user = #{createUser}
        </if>
        <if test="updateTime != null">
            AND u.update_time = #{updateTime}
        </if>
        <if test="updateUser != null and updateUser != ''">
            AND u.update_user = #{updateUser}
        </if>
        <if test="delFlag != null">
            AND u.del_flag = #{delFlag}
        </if>
    </sql>

    <sql id="set_condition">
        <if test="label != null and label != ''">
            d.label = #{label}
        </if>
        <if test="value != null and value != ''">
            d.value = #{value}
        </if>
        <if test="type != null and type != ''">
            d.type = #{type}
        </if>
        <if test="description != null and description != ''">
            d.description = #{description}
        </if>
        <if test="sortFlag != null and sortFlag != ''">
            d.sort_flag = #{sortFlag}
        </if>
        <if test="createTime != null">
            d.create_time = #{createTime},
        </if>
        <if test="createUser != null and createUser != ''">
            d.create_user = #{createUser},
        </if>
        <if test="updateTime != null">
            d.update_time = #{updateTime},
        </if>
        <if test="updateUser != null and updateUser != ''">
            d.update_user = #{updateUser},
        </if>
        <if test="delFlag != null and delFlag != ''">
            d.del_flag = #{delFlag}
        </if>
    </sql>

    <insert id="insert" parameterType="com.yeexang.community.pojo.po.Dict">
        insert into y_c_dict values (<include refid="Dict"/>)
    </insert>

    <delete id="delete" parameterType="com.yeexang.community.pojo.po.Dict">
        delete from y_c_dict d
        <where>
            <if test="id != null and id != ''">
                AND d.id = #{id}
            </if>
            <if test="dictId != null and dictId != ''">
                AND d.dictId = #{dictId}
            </if>
        </where>
    </delete>

    <update id="update" parameterType="com.yeexang.community.pojo.po.User">
        update y_c_dict d
        <set>
            <include refid="set_condition"/>
        </set>
        <where>
            <if test="id != null and id != ''">
                AND d.id = #{id}
            </if>
            <if test="dictId != null and dictId != ''">
                AND d.dictId = #{dictId}
            </if>
        </where>
    </update>

    <select id="select" parameterType="com.yeexang.community.pojo.po.Dict" resultType="com.yeexang.community.pojo.po.Dict">
        select <include refid="y_c_dict"/> from y_c_dict d
        <where>
            <include refid="where_condition"/>
        </where>
    </select>

</mapper>