<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yeexang.community.dao.UserHomepageDao">

    <resultMap id="user_homepage_info_dynamic_map" type="com.yeexang.community.pojo.po.ext.UserHomepageExt">
        <association property="userHomepage" javaType="com.yeexang.community.pojo.po.UserHomepage">
            <id property="homepageId" column="homepage_id"/>
            <result property="id" column="id"/>
            <result property="account" column="account"/>
            <result property="createTime" column="create_time"/>
            <result property="createUser" column="create_user"/>
            <result property="updateTime" column="update_time"/>
            <result property="updateUser" column="update_user"/>
        </association>
        <association property="user" javaType="com.yeexang.community.pojo.po.User">
            <id property="account" column="account"/>
            <result property="id" column="id"/>
            <result property="username" column="username"/>
            <result property="password" column="password"/>
            <result property="headPortrait" column="head_portrait"/>
            <result property="createTime" column="create_time"/>
            <result property="createUser" column="create_user"/>
            <result property="updateTime" column="update_time"/>
            <result property="updateUser" column="update_user"/>
        </association>
        <association property="userInfo" javaType="com.yeexang.community.pojo.po.UserInfo">
            <id property="account" column="account"/>
            <result property="id" column="id"/>
            <result property="introduction" column="introduction"/>
            <result property="sex" column="sex"/>
            <result property="company" column="company"/>
            <result property="position" column="position"/>
            <result property="createTime" column="create_time"/>
            <result property="createUser" column="create_user"/>
            <result property="updateTime" column="update_time"/>
            <result property="updateUser" column="update_user"/>
        </association>
        <collection property="userDynamicList" ofType="com.yeexang.community.pojo.po.UserDynamic">
            <id property="dynamicId" column="dynamic_id"/>
            <result property="id" column="id"/>
            <result property="account" column="account"/>
            <result property="targetId" column="target_id"/>
            <result property="dynamicType" column="dynamic_type"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
        </collection>
    </resultMap>

    <select id="selectUserHomepage" resultMap="user_homepage_info_dynamic_map" parameterType="string">
        select
            uh.id,
            uh.homepage_id,
            uh.account,
            uh.create_time,
            uh.create_user,
            uh.update_time,
            uh.update_user,
            u.id,
            u.account,
            u.username,
            u.password,
            u.head_portrait,
            u.create_time,
            u.create_user,
            u.update_time,
            u.update_user,
            ui.id,
            ui.account,
            ui.introduction,
            ui.sex,
            ui.company,
            ui.position,
            ui.create_time,
            ui.create_user,
            ui.update_time,
            ui.update_user,
            ud.id,
            ud.dynamic_id,
            ud.account,
            ud.target_id,
            ud.dynamic_type,
            ud.create_time,
            ud.update_time
        from y_c_user_homepage uh
        left join y_c_user u on uh.account = u.account
        left join y_c_user_info ui on uh.account = ui.account
        left join y_c_user_dynamic ud on uh.account = ud.account
        where uh.homepage_id = #{homepageId}
    </select>
    
</mapper>