<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yeexang.community.dao.UserDao">

    <sql id="y_c_user">
        u.id,
        u.account,
        u.username,
        u.password,
        u.create_time,
        u.create_user,
        u.update_time,
        u.update_user,
        u.del_flag
    </sql>

    <sql id="User">
        #{id},
        #{account},
        #{username},
        #{password},
        #{createTime},
        #{createUser},
        #{updateTime},
        #{updateUser},
        #{delFlag}
    </sql>

    <sql id="where_condition">
        <if test="id != null and id != ''">
            AND u.id = #{id}
        </if>
        <if test="account != null and account != ''">
            AND u.account = #{account}
        </if>
        <if test="username != null and username != ''">
            AND u.username = #{username}
        </if>
        <if test="password != null and password != ''">
            AND u.password = #{password}
        </if>
        <if test="createTime != null">
            AND u.create_time = #{createTime}
        </if>
        <if test="createUser != null and createUser != ''">
            AND u.create_user = #{createUser}
        </if>
        <if test="updateTime != null">
            AND u.update_time = #{updateTime}
        </if>
        <if test="updateUser != null and updateUser != ''">
            AND u.update_user = #{updateUser}
        </if>
        <if test="delFlag != null">
            AND u.del_flag = #{delFlag}
        </if>
    </sql>

    <sql id="set_condition">
        <if test="username != null and username != ''">
            u.username = #{username},
        </if>
        <if test="password != null and password != ''">
            u.password = #{password},
        </if>
        <if test="createTime != null">
            u.create_time = #{createTime},
        </if>
        <if test="createUser != null and createUser != ''">
            u.create_user = #{createUser},
        </if>
        <if test="updateTime != null">
            u.update_time = #{updateTime},
        </if>
        <if test="updateUser != null and updateUser != ''">
            u.update_user = #{updateUser},
        </if>
        <if test="delFlag != null and delFlag != ''">
            u.del_flag = #{delFlag}
        </if>
    </sql>

    <insert id="insert" parameterType="com.yeexang.community.pojo.po.User">
        insert into y_c_user values (<include refid="User"/>)
    </insert>

    <delete id="delete" parameterType="com.yeexang.community.pojo.po.User">
        delete from y_c_user u
        <where>
            <if test="id != null and id != ''">
                AND u.id = #{id}
            </if>
            <if test="account != null and account != ''">
                AND u.account = #{account}
            </if>
            <if test="username != null and username != ''">
                AND u.username = #{username}
            </if>
        </where>
    </delete>

    <update id="update" parameterType="com.yeexang.community.pojo.po.User">
        update y_c_user u
        <set>
            <include refid="set_condition"/>
        </set>
        <where>
            <if test="id != null and id != ''">
                AND u.id = #{id}
            </if>
            <if test="account != null and account != ''">
                AND u.account = #{account}
            </if>
        </where>
    </update>

    <select id="select" parameterType="com.yeexang.community.pojo.po.User" resultType="com.yeexang.community.pojo.po.User">
        select <include refid="y_c_user"/> from y_c_user u
        <where>
            <include refid="where_condition"/>
        </where>
    </select>

</mapper>